.header {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;   
}

.menu-section {
    display: flex;
    align-items: center;
}

.app-logo {
    cursor: pointer;
}

.app-logo img {
    max-width: 120px;
}

.list-app-menu {
    padding: 0 40px;
}

.list-app-menu li {
    display: inline;
}

.list-app-menu li a {
    color: #fff;
    padding: 0 10px;
    text-decoration: none;
}

.user-options {
    position: relative;
    display: block;
    width: 40%;
}

.user-icon {
	text-align: right;    
}

.user-icon img {
    max-width: 30px;
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
}

.user-icon p {
    color: #fff;
    display: inline-block;
    font-size: 14px;
}

.user-menu {
    position: absolute;
    top: 60px;
    width: max-content;
    right: 0;
    border: 2px solid #cccccc;
    border-radius: 0 0 10px 10px;
}

.user-menu ul {
    padding: 0 40px;
}

.user-menu ul li {
    list-style-type: none;
}

.mobile-menu {
    display: none;
}

.mobile-menu img {
    width: 40px;
}

.log-out-section {
    text-align: right;
}

.logout-btn {
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    height: 40px;
    background: #000;
    padding: 0 20px;
    cursor: pointer;
}

.menu-mobile {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
}

.app-menu-mobile {
    position: absolute;
    opacity: 1;
    background: #000;
    right: 0;
    width: 85%;
    height: 100vh;
}

.close-section {
    padding-top: 5px;
}

.close-section img {
    width: 50px;
}

.list-app-menu-mobile {
    list-style-type: none;
    padding: 0;
}

.list-app-menu-mobile li {
    padding: 20px;
    border-bottom: 1px solid #fff;
}

.list-app-menu-mobile li a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-app-menu-mobile li img {
    width: 20px;
    filter: invert(99%) sepia(99%) saturate(1%) hue-rotate(162deg) brightness(105%) contrast(100%);
    rotate: 270deg;
}

.closeMenu {
    display: none;
}

.openMenu {
    display: block;
}


@media screen and (max-width: 992px) {
    .mobile-menu {
        display: block;
    }

    .app-menu, .user-options {
        display: none;
    }
}
