.home {
    padding: 16px;
}

.home-body {
    max-width: 1240px;
    margin: 0 auto;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-todo-list {
    background: #fff;
    border: 1px solid #ffbd33;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
}

.new-todo-list img {
	width: 25px;
    vertical-align: middle;    
}

.container-body-list ul {
    padding: 0;
}

.container-body-list ul li {
    list-style-type: none;
    display: contents;
}

.accordion-element {
    padding-bottom: 25px;    
}

.list-header {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    align-items: center;
}

.list-header div {
    font-weight: bold;
}

.list-name {
    text-align: left;
}

.list-actions {
    text-align: right;
    display: flex;
    align-items: center;
}

.action-container input {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.action-button {
    padding-left: 15px;
    cursor: pointer;
}

.container-body-list ul li img {
    width: 30px;
}

.action-button img {
    display: inline-block;
    vertical-align: middle;
} 

.action-button p {
    display: inline-block;
}

.completed-list {
    padding: 5px 20px;
    border: 1px solid #000;
    background: #000;
    margin-left: 15px;
}

.completed-list p {
    display: inline-block;
    color: #fff;
}

.active-color {
    background: #ffbd33;
}

.completed-color {
    background: #aa7e22;
}

.category-name {
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 2px 15px;
    margin-left: 25px;
    background: #fff;
}

.positionIcon {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.rotateIcon {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.set-todays-list {
    background: #ffa933;
    color: #fff;
    border: 1px solid #ffa933;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
}

.set-todays-list img {
	width: 25px;
    vertical-align: middle;    
}

@media screen and (max-width: 992px) {
    .body-app {
        padding: 0 16px;
    }

    .action-button p {
        display: none;
    }

    .list-header {
        display: block;
    }

    .list-name {
        display: flex;
        justify-content: space-between;
    }

    .list-actions {
        justify-content: space-between;
        padding-top: 20px;
    }

    .list-actions div:nth-child(4) span {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 0;
    }
     .list-actions div:nth-child(4) span p {
        display: block !important;
        text-align: left;
        font-size: 14px;
    }

    .detail-input-block {
        width: 70%;
    }

    .detail-input-block input {
        width: -webkit-fill-available;
    }

    .add-new-detail {
        align-items: flex-end;
    }

    .title-container {
        display: block;
        padding-bottom: 15px;
    }

    .new-todo-list, .set-todays-list {
        width: 100% !important;
    }
}
